<!-- start: Slider -->
<div class="slider-wrapper">

	<div id="da-slider" class="da-slider">
		<div class="da-slide">
			<h2>Competitive Pay</h2>
			<p>No one can compete with our family environment and competitive pay.</p>
			<a href="https://intelliapp.driverapponline.com/c/cowansystems?uri_b=ia_cowansystems_32256" class="da-link">Apply Now!</a>
			<div class="da-img"><img src="img/parallax-slider/twitter.png" alt="image01" /></div>
		</div>
		<div class="da-slide">
			<h2>Sleep At Home Every Night</h2>
			<p>Don't worry about long nights on the road away from your family. You will always come home after your day of work</p>
			<a href="https://intelliapp.driverapponline.com/c/cowansystems?uri_b=ia_cowansystems_32256" class="da-link">Apply Now!</a>
			<div class="da-img"><img src="img/parallax-slider/responsive.png" alt="image02" /></div>
		</div>
		<nav class="da-arrows">
			<span class="da-arrows-prev"></span>
			<span class="da-arrows-next"></span>
		</nav>
	</div>
	
</div>
<!-- end: Slider -->
		
<!--start: Wrapper-->
<div id="wrapper">
			
	<!--start: Container -->
	<div class="container">
		
		<hr>

  		<!-- start: Hero Unit - Main hero unit for a primary marketing message or call to action -->
  		<div class="hero-unit">
			<h3>Cowan Systems LLC &Reload Transportation Welcomes Qualified Owner Operators!</h3>
			<p>You must meet these minimum requirements:</p>
					<ul class="arrow_list"><li>Twenty-three years of age</li></ul>
					<ul class="arrow_list"><li>One year, recent, verifiable tractor trailer experience, of the type for which application is made; with a recognized national or regional carrier</li></ul>
					<ul class="arrow_list"><li>Valid Class A, Commercial Driver’s License</li></ul>
					<ul class="arrow_list"><li>Must pass written and road test</li></ul>
					<ul class="arrow_list"><li>Satisfy all applicable requirements of Federal Motor Carrier Safety Regulations</li></ul>
			
			
    		<p><a href="https://intelliapp.driverapponline.com/c/cowansystems?uri_b=ia_cowansystems_32256" class="btn btn-primary btn-large">Apply Now! &raquo;</a></p>
  		</div>
		<!-- end: Hero Unit -->
  		
	
		
	</div>
	<!--end: Container-->

</div>
<!-- end: Wrapper  -->			
