<header>
	
	<!--start: Container -->
	<div class="container">
		
		<!--start: Navbar -->
		<div class="navbar navbar-inverse">
    		<div class="navbar-inner">
          		<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            		<span class="icon-bar"></span>
            		<span class="icon-bar"></span>
            		<span class="icon-bar"></span>
          		</a>
				<a class="brand" href="index4.html"></i>Reload<span>Transportation</span></a>
          		<div class="nav-collapse collapse">
            		<ul class="nav">
                			<li><a href="index4.html">Home</b></a></li>
							<li><a href="about.html">About</b></a></li>

                			
						<li class="dropdown">
                			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Employees<b class="caret"></b></a>
                			<ul class="dropdown-menu">
								<li><a href="admin.html">Administration</a></li>
                  				<li><a href="chicago.html">Chicago</a></li>
								<li><a href="stl.html">St Louis</a></li>
								<li><a href="kc.html">Kansas City</a></li>
								<li><a href="memphis.html">Memphis</a></li>
								<li><a href="nashville.html">Nashville</a></li>
                			</ul>
              			</li>
						<li><a href="drivers.html">Drivers</a></li>					
						<li><a href="contact.html">Contact Us</a></li>
						<li><a href="pricing.html">Rates</a></li>
            		</ul>
          		</div>
        	</div>
      	</div>
		<!--end: Navbar -->
		
	</div>
	<!--end: Container-->			
		
</header>
<!--end: Header-->